@font-face {
  font-family: "GoogleSans";
  src: url("./fonts/GoogleSans-Regular.ttf") format("truetype");
}

* {
  font-family: "GoogleSans";
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
}

a {
  text-decoration: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
