@font-face {
  font-family: "GoogleSans";
  src: url("./fonts/GoogleSans-Regular.ttf") format("truetype");
}

* {
  font-family: "GoogleSans";
}

a {
  text-decoration: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
